<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @black_card.text %>
</p>

<p>
  <b>Blank:</b>
  <%= @black_card.blank %>
</p>


<%= link_to 'Edit', edit_black_card_path(@black_card) %> |
<%= link_to 'Back', black_cards_path %>
